html {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0 1em 0 1em;
  margin: 0 auto;
  font-size: 13px;
}

h1 {
  color: #c6bc86;
  background-color: #40322b;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 26px;
  text-align: center;
}

h2{
  font-size: 24px;
  background-color: #a33237;
  padding: 0.5em 0 0.5em 0;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
  border-radius: 4px;
}

.box {
  background-color: #c6bc86;
  margin: 0.7em 0 0.7em 0;
  padding: 0 0.5em 0.3em 0;
  border-radius: 4px;
}

.title {
 font-size: 16px;
 text-align: center;
 padding: 0.3em 0 0.3em 0;
 margin: 0;
}

.name {
  font-size: 15px;
}

li {
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.food {
  width: 100%;
}

.menu {
  font-size: 19px;
  text-align: center;
}

figure {
  padding: 0;
  margin: 0;
  width: 100%;
}

.top {
  width: 65%;
  padding: 0 0 0 7em;
}

.type {
  padding: 0 0 0 2em;
  margin: 0;
  float: left;
  margin-right: 55px;
  font-size: 13px;
  display: block;
}

.type2 {
  padding: 0 0 0;
  margin: 0;
  font-size: 13px;
}

nav h1 a {
  line-height: 2em;
}

.type3 {
    padding: 0 0 0 0.8em;
    margin: 0;
    font-size: 13px;
    display: block;
    float: left;
    margin-right: 15px;
  }

.type4 {
    padding: 0 0 0.2em 0.4em;
    margin: 0;
    padding-right: 0;
    font-size: 13px;
    display: block;
  }

ul {
  padding: 0;
}
