html {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
}

h1 {
  color: #c6bc86;
  background-color: #40322b;
  padding: 0;
  margin: 0;
}
