html {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0 1em 0 1em;
  margin: 0 auto;
  font-size: 13px;
}

h1 {
  color: #c6bc86;
  background-color: #40322b;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 26px;
  text-align: center;
}

h2{
  font-size: 24px;
  background-color: #a33237;
  padding: 0.5em 0 0.5em 0;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
  border-radius: 4px;
}

.box {
  background-color: #c6bc86;
  margin: 0.7em 0 0.7em 0;
  padding: 0 0.5em 0.3em 0.5em;
  border-radius: 4px;
}

.title {
 font-size: 16px;
 text-align: center;
 padding: 0.3em 0 0.3em 0;
 margin: 0;
}

.location {
  display: block;
}

.location2 {
  display: inline-block;

}

.info {
  display: inline;
}

li {
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
}

.food {
  width: 100%;
}

.menu {
  font-size: 19px;
}

figure {
  padding: 0;
  margin: 0;
}

.top {
  width: 65%;
  padding: 0 0 0 7em;
}

.type2 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.type {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
